<h2>List of Animals</h2>


{{#each-in model as |animal color|}}
  {{animal}} {{color}}<br>
{{/each-in}}

<table class="ui collapsing striped small fixed fluid table" style="width:100%;">
    <thead>
    <tr>
        <th>Animal</th>
        <th>Color</th>
    </tr>
    </thead>
    <tbody>
    {{#each-in model as |animal color|}}
      <tr>
        <td>
          {{animal}}
        </td>
        <td>
          {{color}}
        </td>
    </tr>
    {{/each-in}}

    </tbody>
</table>

{{outlet}}


